.heading1{
    text-align: center;
    margin-top: 100px;
    color: navy;
    font-weight: bold;
}

.heading3{
    text-align: center;
    color: navy;
    font-family: cursive;
    margin-top: 50px;
}